<section>
    {{#each blogs as |blog|}}
    <div class="basic-card">
        <div class="basic-card-head">
            <h3>{{blog.blog-title}}</h3>
            <p>POsted by {{blog.user.username}} on {{formate_date blog.updatedAt}}</p>
        
        </div>
        <div class="basic-body">
            <p>{{blog.blog_body}}</p>
        </div>
    </div>

    
    {{/each}} 
</section>